body {
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: aliceblue;
    box-shadow: 0px 0px 15px 2px black;
    min-height: 50vh;
    padding: 20px;
}

#title {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.bar:hover {
    fill: aliceblue;
}

.text {
    display: none;
}

.text:hover {
    display: block;
    border: 1px solid black;
    color: aliceblue;
    background-color: cadetblue;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: 250px;
    width: 140px;
    min-height: 70px;
    background-color: rgba(161, 161, 161, 0.747);
    box-shadow: 0px 0px 5px 2px black;
    border-radius: 5px;
    text-align: center;
}

.tooltip-show {
    visibility: visible;
}